.btns-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns-group .btn:not(:first-child) {
  margin-left: 15px;
}
.btn-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.btn-wrap .btn:not(:first-child){
  margin-left: 15px;
}
.current-page{
  margin-top: 15px;
  font-size: 18px;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.btn-block {
  margin-top: 30px;
}
.btn-primary {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-color);
}
.btn-danger {
  background-color: var(--danger-bg);
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
}
.btn-success {
  background-color: var(--success-bg);
  color: var(--success-color);
  border: 1px solid var(--success-color);
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-danger:hover {
  background-color: var(--danger-color);
  color: #fff;
}
.btn-success:hover {
  background-color: var(--success-color);
  color: #fff;
}
