@import './Variables.scss';
.item__email {
  font-weight: 600;
}
.item__email:hover {
  text-decoration: underline;
}
.item-title__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.item-title__wrapper .item__title:not(:first-child) {
  margin-left: 10px;
}
.item__title{
    font-size: 20px;
    color: $accent-color;
}
.item__title__secondary{
    margin-top: 10px;
}