.error{
    position: relative;
  }
  .error-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 50vh;
  }
  .error-img{
    width: 420px;
    height: auto;
    margin-top: 20px;
  }
  .error-title__secondary{
      color: var(--accent-color);
  }