$box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
$primary-color: hsl(231, 22%, 47%);
$primary-bg: hsl(231, 37%, 96%);
$danger-bg: hsl(0, 91%, 96%);
$danger-color: hsl(0, 50%, 47%);
$warning-color: hsl(26, 79%, 56%);
$warning-bg: hsl(26, 78%, 90%);
$success-bg: hsl(120, 91%, 90%);
$success-color: hsl(120, 50%, 47%);
$primary-color-hover: hsl(231, 22%, 57%);
$accent-color: hsl(230, 23%, 26%);
